{{ define "main" }}
<main class="flex-shrink-0">
<div class="container">
	<div class="row">
		<div class="col-sm">
			<span class="text-center">{{ .Content }}</span>
			<div class="my-4">
			{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
			{{ range first 10 $paginator.Pages }}
<div class="card my-5">
  <div class="card-body">
	  <h5 class="card-title h4">
		  {{ .Title }}
		  {{ if .Draft }}
			  <span class="fs-6 text-muted">[draft]</span>
		  {{ end }}
	  </h5>
	  <h6 class="card-subtitle mb-2 text-muted">
		{{ .Date.Format "02 Jan. 2006" }} &ndash;
		{{ .Params.Author }} &ndash;
		{{ .WordCount }} word(s) &ndash;
		{{ .ReadingTime }} min read
	  </h6>
	  <p class="card-text">{{ .Summary | safeHTML }}</p>
	  {{ if .Truncated }}
	  <a
		  class="btn btn-link text-decoration-none"
		  href="{{ .RelPermalink }}"
	  >Read more...</a>
	  {{ end }}
  </div>
</div>
			{{ end }}
			</div>
		</div>
	</div>
</div>
</main>
{{ end }}
