{{ define "main" }}
<main class="flex-shrink-0">
<div class="container">
<div class="page-header">
	<h1 class="display-5">All Posts</h1>
</div>
  <div class="row justify-content-sm-center">
	<div class="my-5 col-sm-10">
	{{ range .Data.Pages.GroupByDate "2006" }}
		<span class="mb-2 text-muted">{{ .Key }} ({{ len .Pages }})</span>
	{{ range .Pages }}
	<div class="hstack">
			<a class="text-decoration-none text-dark" href="{{ .RelPermalink }}">
				{{ .Title }}
			</a>
		<span class="text-dark ms-auto">{{ .Date.Format "January 2, 2006" }}</span>
	</div>
	{{ end }}
	{{ end }}
	</div>
  </div>
</div>
</main>
{{ end }}
