{{ define "title" }}
	<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
	{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<main class="flex-shrink-0">
  <div class="container">
	<div class="row">
		<div class="mb-5 col-sm-10">
	<article class="blog-post">
        <h2 class="blog-post-title">{{ .Title }}</h2>
			{{ if not (in .Page.Title "Contact") }}
		<p class="blog-post-meta">
			{{ .Date.Format "January 2, 2006" }}
			{{ with .Params.Author }}by
				<a
					class="text-decoration-none"
					href="#">
				{{ . }}
				</a>
			{{ end }}
		</p>
	{{ end }}
		{{ .Content }}
      </article>
		</div>
	</div>
  </div>
</main>
{{ end }}
