* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}
/*
.dark-mode {
  filter: invert(100%) hue-rotate(180deg);
}

img,
picture,
video {
  filter: invert(100%) hue-rotate(180deg);
}

[class="invert"] {
  filter: invert(100%) hue-rotate(180deg);
}
*/
main > .container {
  padding: 60px 15px 0;
}

.f-size {
  font-size: xx-small;
  overflow-wrap: break-word;
}
