<!-- As a link -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
	  <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mx-5">
		{{- $currentPage := . -}}
		{{- range .Site.Menus.main }}
		<li class="nav-item">
			<a class="nav-link{{ if $currentPage.IsMenuCurrent "main" . }} active" aria-current="page{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
		</li>
		{{- end }}
      </ul>
	  <a class="d-flex" href="{{ .Site.BaseURL }}index.xml">
		<img src="/img/rss.svg" style="width: 20px; height: 20px"/>
	  </a>
	  <span class="navbar-text">{{ .Params.Description }}</span>
    </div>
  </div>
</nav>

