<div class="row">
  <div class="col-sm-4 pb-2">
    <img src="/img/bitcoin.png" alt="Bitcoin" />
    <h6 class="mt-1">Bitcoin</h6>
    <code class="f-size text-danger">1JJmuidSTRCugnBKH8H7bDxEmTtAAg4kyn</code>
  </div>
  <div class="col-sm-4 pb-2">
    <img src="/img/usdt.png" alt="USDT" />
    <h6 class="mt-1">USDT</h6>
    <code class="f-size text-danger">TWi6yNRhxzkmgZhhoriDzWgvrSsxbdQCb8</code>
  </div>
  <div class="col-sm-4 pb-2">
    <img src="/img/xmr.png" alt="Monero" />
    <h6 class="mt-1">Monero</h6>
    <code class="text-danger f-size">
      87Asjp2TLCkKnw3PYsiKaTDwL8mNhiL7uV67ptCtVxqbSnaZfATQ6t4d1mfWnKu4kB4ieQHMApGhUdUY3h4RKBS2Kuc5RyW
    </code>
  </div>
</div>
