<div class="row row-cols-1 row-cols-sm-4 g-5">
  <div class="col">
    <div class="card">
      <img src="/img/bitcoin.png" class="card-img-top" alt="Bitcoin">
      <div class="card-body">
        <h5 class="card-title">Bitcoin</h5>
        <p class="card-text">1JJmuidSTRCugnBKH8H7bDxEmTtAAg4kyn</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/img/usdt.png" class="card-img-top" alt="USDT">
      <div class="card-body">
        <h5 class="card-title">USDT</h5>
        <p class="card-text">TWi6yNRhxzkmgZhhoriDzWgvrSsxbdQCb8</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/img/xmr.png" class="card-img-top" alt="Monero">
      <div class="card-body">
        <h5 class="card-title">Monero</h5>
        <p class="card-text">87Asjp2TLCkKnw3PYsiKaTDwL8mNhiL7uV67ptCtVxqbSnaZfATQ6t4d1mfWnKu4kB4ieQHMApGhUdUY3h4RKBS2Kuc5RyW</p>
      </div>
    </div>
  </div>
</div>
