---
import Link from "@components/Link.astro";
import { SiBuymeacoffee } from "react-icons/si";
import { FaGithub, FaTwitter, FaRss, FaSitemap } from "react-icons/fa";
import { siteData } from "@/lib/config";
---
<div class="prose dark:prose-invert mx-auto max-w-sm md:max-w-2xl mb-5">
  <hr />

  <footer class="flex flex-col items-center gap-5 md:flex-row md:justify-between">
    <span>{siteData.author}</span>

    <div class="inline-flex gap-4">
      <Link href="https://www.buymeacoffee.com/f0uadfS">
        <SiBuymeacoffee />
      </Link>

      <Link href="/rss.xml">
        <FaRss />
      </Link>

      <Link href="/sitemap-index.xml">
        <FaSitemap />
      </Link>

      <Link href="https://github.com/duncan-f">
        <FaGithub />
      </Link>

      <Link href="https://x.com/duncan12back">
        <FaTwitter />
      </Link>
    </div>
  </footer>
</div>

