---
export interface Props {
  href: string;
  title?: string;
}

const { href, title } = Astro.props as Props;
---

<a
  class="underline decoration-slate-50 hover:underline hover:decoration-slate-500 dark:decoration-slate-700 dark:hover:decoration-slate-50"
  href={href}
  title={title}
  aria-label={title}
>
  <slot />
</a>
