---
export interface Props {
  className?: string;
}

const { className = '' } = Astro.props as Props;
---
<main role="main" class={`mx-auto max-w-sm px-5 md:max-w-md ${className}`}>
  <slot/>
</main>


