---
import { siteData } from "@/lib/config"
import ThemeToggle from "@components/ThemeToggle"

---

<nav class="flex items-center justify-between mx-auto max-w-sm md:max-w-2xl">
  <div><a href="/">{siteData.brand}</a></div>
  <ThemeToggle client:load />
  <!-- <Hamburger client:visible /> -->
</nav>

